@charset "UTF-8";

/*エリアの表示非表示と形状*/
.area {
  display: none;
  /*はじめは非表示*/
  opacity: 0;
  /*透過0*/
  background: #fff;
  padding: 50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block;
  /*表示*/
  animation-name: displayAnime;
  /*ふわっと表示させるためのアニメーション*/
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*========= レイアウトのためのCSS ===============*/

body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 30px auto;
  background: #fefefe;
}

.area h2 {
  font-size: 1.3rem;
  margin: 0 0 20px 10px;
}

#map {
  height: 70vh;
}

.leaflet-menu {
  background-color: #fafafa;
}

.cstm-slidmenu-header {
  margin: 0;
  background-color: #5cc8ea;
  color: #fff;
  padding: 5px;
}

.cstm-slidmenu-content {
  padding: 0;
  margin: 0;
}

.cstm-slidmenu-content li {
  list-style-type: none;
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

i {
  padding-left: 5px;
}

.leaflet-menu {
  background-color: #fafafa;
}

.cstm-slidmenu-header {
  margin: 0;
  background-color: #5cc8ea;
  color: #fff;
  padding: 5px;
}

.cstm-slidmenu-content {
  padding: 0;
  margin: 0;
}

.cstm-slidmenu-content li {
  list-style-type: none;
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

i {
  padding-left: 5px;
}
/*バーガーメニュー */
/*参考>> https://www.asobou.co.jp/blog/web/css-menu */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px; /*ボタンサイズ*/
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
/* 要素1 */
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
/*チェックボックス隠す*/
#menu-btn-check {
  display: none;
}
/*メニュー内容*/
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #3584bb;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 30px;  /*メニュー内のフォントサイズ*/
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #3584bb;
  transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}