@charset "UTF-8";

.time_tables {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.time_table_image {
  margin: 64px;
  width: 300px;
}
