@charset "UTF-8";

html {
	font-size: 100%;
	/* font-family: "Sawarabi Gothic";  Googleフォント設定(必要なし) */
}

body {
	color: #24292e;
}

a {
	text-decoration: none;
}

p {
	font-size: 1.3rem;
}

img {
	max-width: 100%;
}

li {
	font-size: 1.2rem;
	list-style: none;
}
/* header */
h1 {
	font-size: 3rem;
	/* margin: 10px; */
	white-space: nowrap;
}

header {
	display: flex; /* booksを使用し要素を並べる */
	align-items: center;
	justify-content: space-between; /* 水平方向 */
	width: 100%; /* ヘッダー横幅100%に設定 */
	max-width: 2100px; /* 横幅最大値 */
	/* margin: 0 auto; */
	/* padding: 0% 10%; */
	height: 150px;
	/* position: sticky; */
	/* top: 0; 上部に固定 */
	/* background-color:rgb(255, 255, 255); */
}

header ul {
	display: flex;
	align-items: center;
	padding: 10px 0;
	margin-right: 10px;
}

header ul li {
	margin-left: 5px;
	font-size: 1.25rem;
}

header ul li a {
	color: #24252e;
}

#header {
	border-collapse: separate;
	border-bottom: 4px solid;
}

.css-header {
	padding: 20px 10%; /* 90％でヘッダー　informationと右端の値を設定　重要！！ */
	font-size: 1rem;
	font-weight: 900;
	white-space: nowrap;
}

/* 以下　マウスhover　下線 */
header ul li a {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	background: white;
}

header ul li a::after,
header ul li a::before {
	position: absolute;
	bottom: 0;
	display: #4d4d4d;
	/* 初期状態でのwidthは0 */
	width: 0;
	height: 3px;
	content: "";
	background: #4d4d4d;
	transition: 0.5s;
}
/* 中心から線がスタートするので始点を50%の位置に移動する */
header ul li a::after {
	left: 50%;
}

header ul li a::before {
	right: 50%;
}

/* マウスカーソルが乗っかると中心からwidthが50%ずつ伸びて100%の線になる */
header ul li a:hover::before,
header ul li a:hover::after {
	width: 50%;
}
/* ヘッダースクロール */
/* header {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
  } 
#header.scroll {
    position: fixed;
    background: #EEE;
    animation-name: anime
    animation-duration: 0.3s;
  }
@keyframes anime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }} */
/* header {
  position: fixed;
} */
header {
	/* position: fixed; ヘッダーを固定する */
	top: 5%; /* 上部から配置の基準位置を決める */
	/* left: 0; 左から配置の基準位置を決める */
	width: 100%; /* ヘッダーの横幅を指定する */
	padding: 10px; /* ヘッダー内側の余白を指定する(上下左右) */
	padding-top: 3%; /* ヘッダーの高さを指定する */
	background-color: white; /* ヘッダーの背景色を指定する */
}
/* フッター　*/
/* footer {
    width: 100%;
    height: 150px;
    background-color: #4d4d4d;
    color: white;
    text-align: center;
    /* padding: 30px */
/* } */
/* ul.footer-menu li {
    display: inline;
    padding: 10px;
}
ul.footer-menu li a{
    color: white;
    padding: 5px;
    padding: 10px;
}
footer p {
    padding-top: 30px;
}
.copyright {
    font-size: 1.15rem;
} */
/* 独立部分 */
.menu {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}
/* comceptとabout */
.second {
	position: relative;
	display: inline-block;
	margin-bottom: 1em;
	font-size: 3rem;
}
/* 説明文章 */
.sentence {
	padding: 1% 10% 2%;
	margin: 0 auto; /* 本文を中央によせる */
	border-radius: 30px;
}
/* 以下線を表示 */
.second::before {
	position: absolute;
	bottom: -5px; /* 線の上下位置 */
	left: 50%;
	display: inline-block;
	width: 80px; /* 線の長さ */
	height: 5px; /* 線の太さ */
	content: "";
	background-color: #4d4d4d; /* 線の色 */
	border-radius: 2px; /* 線の丸み */
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%); /* 位置調整 */
}
/* 囲み枠 */
.square {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 30px;
	margin: 5% 15%; /* 囲み外枠 */
	background-color: rgb(255 255 255);
	border-radius: 30px;
	box-shadow: rgb(0 0 0 / 25%) 0 4px 4px 5px;
	-webkit-box-align: center;
}
/* 囲み枠内の文章pダグ */
.ex {
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.05rem; /* 文字の大きさ */
	font-weight: 900; /* 文字の太さ */
	line-height: 200%;
}
/* ヘッダー日時 */
/* 年 */
.year {
	padding-left: 0.2%;
	font-size: 2.25rem; /* 2024文字拡大 */
	line-height: 60%; /* 行間詰め */
}
/* 月日 */
.day1,
.day2 {
	font-size: 3.5rem;
}
/* 曜日 */
.sun,
.sat {
	margin: 0% -1%;
	font-size: 1.25rem;
	writing-mode: vertical-rl;
}
/* 曜日の左寄せ（失敗） */
/* .youbi { */
/* left: -10%; */
/* } */
/* 時間 */
.time {
	font-size: 1.55rem;
	line-height: 80%;
}
/* 日時全体 */
.youkou {
	margin-top: 45vh; /* 日時の場所の上部空白 */
	margin-left: 17.5%;
	font-family: futura-pt, heavy;
	/* position: absolute; */
	/* color: rgb(255, 255, 255); */
	font-weight: 700;
}
/* 下矢印 */
.navigation {
	padding-left: 2.5%;
}

.map {
	width: 55%;
	margin-left: 5%;
}

.place {
	display: flex;
	align-items: flex-start;
	margin: 2%;
}

.school {
	padding-top: -40px;
	padding-bottom: 20px;
	font-size: 1.7rem;
}

.blok {
	margin: auto;
	margin-top: 0%;
}

.address {
	padding-top: 20px;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 50px;
}

/* == ボタン共通設定 */
.btn {
	/* アニメーションの起点とするためrelativeを指定 */
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	overflow: hidden;
	text-align: center;
	/* ボタンの形状 */
	text-decoration: none;
	border: 1px solid #555; /* ボーダーの色と太さ */
	outline: none;
	/* アニメーションの指定 */
	transition: ease 0.2s;
}

/* ボタン内spanの形状 */
.btn span {
	position: relative;
	z-index: 3; /* z-indexの数値をあげて文字を背景よりも手前に表示 */
	color: #333;
}

.btn:hover span {
	color: #fff;
}

/* == 背景が流れる（左から右） */
.bgleft::before {
	/* 絶対配置で位置を指定 */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	content: "";
	/* 色や形状 */
	background: #333; /* 背景色 */
	/* アニメーション */
	transition: transform 0.6s cubic-bezier(1, 1, 0.2, 1) 0s;
	transform: scale(0, 1);
	transform-origin: right top;
}

/* hoverした際の形状 */
.bgleft:hover::before {
	transform: scale(1, 1);
	transform-origin: left top;
}
/* 以上 */
/* placeボタンの配置 */
.btnplace {
	margin-top: 35px;
	margin-left: 60px;
	font-size: 1.5rem;
	font-weight: 500;
}
/* Sponsorの文字と左揃えの中央揃え */
.sponsor {
	line-height: 40px;
}

.blok {
	width: fit-content;
	margin: 0 auto;
}

.btnspon {
	display: flex;
	margin-top: 30px;
	font-size: 1.5rem;
	font-weight: 500;
}

span {
	text-align: center;
}

/* スポンサーボタン中央寄せ */
.btn-sponsor {
	text-align: center;
}

/* ========= LoadingのためのCSS =============== */

/* Loading背景画面設定　*/

#splash {
	/* fixedで全面に固定 */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	background: #333;
}

/* Loadingバー中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	width: 100%;
	color: #fff;
	transform: translate(-50%, -50%);
}

/* footer設定 */
#footer {
	position: relative;
	margin-top: 40px;
	color: #fff;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer .primary {
	padding: 40px 20px;
	background: #333;
}

#footer .primary .flex {
	display: flex;
	margin: 3%;
}

#footer .primary .flex .left {
	width: 40%;
}

#footer .primary .flex .right {
	display: flex;
	justify-content: flex-end;
	width: 60%;
}

#footer .secondary {
	display: flex;
	padding: 40px 20px;
	background: #222;
}

@media screen and (max-width: 767px) {
	#footer .primary {
		padding: 20px;
		background: #333;
	}

	#footer .primary .flex {
		display: block;
	}

	#footer .primary .flex .left {
		width: 100%;
	}

	#footer .primary .flex .right {
		display: block;
		width: 100%;
	}

	#footer .secondary {
		display: block;
		padding: 20px;
	}
}

/* logo */

#footer .logo {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 36px;
	font-weight: bold;
}
@media screen and (max-width: 767px) {
	#footer .logo {
		font-size: 16px;
	}
}

/* address */

.address {
	padding: 0;
	margin: 10px 0 0;
}

@media screen and (max-width: 767px) {
	.address {
		font-size: 12px;
	}
}

/* navi */

.navi-section {
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-left: 20px;
}

#footer .parent {
	padding: 0;
	margin: 0 0 16px;
	font-weight: bold;
}

#footer .navi {
	padding: 0;
	margin: 0;
	list-style: none;
}

#footer .navi li {
	padding: 0;
	margin: 8px 0 0;
}

#footer .navi li:first-child {
	margin: 0;
}

@media screen and (max-width: 767px) {
	.navi-section {
		display: block;
		width: 100%;
		margin: 40px 0 0;
	}

	#footer .parent {
		margin: 0 0 10px;
		font-size: 12px;
	}

	#footer .navi {
		padding-bottom: 10px;
		font-size: 12px;
		border-bottom: 1px solid #444;
	}

	#footer .navi li {
		padding-top: 10px;
		margin-top: 10px;
		font-size: 12px;
		border-top: 1px solid #444;
	}
}

/* sns-navi */

#footer .sns-navi {
	padding: 0;
	margin: 20px 0 0;
}

#footer .sns-navi li {
	display: inline-block;
	padding: 0;
	margin: 0 20px 0 0;
	font-size: 20px;
}

#footer .sns-navi li:last-child {
	margin-right: 0;
}

@media screen and (max-width: 767px) {
	#footer .sns-navi {
		padding: 0;
		margin: 20px 0 0;
	}

	#footer .sns-navi li {
		padding: 0;
		margin: 0 20px 0 0;
		font-size: 18px;
	}
}

/* sitenavi */

#footer .sitenavi {
	width: 40%;
	padding: 0;
	margin: 0;
	list-style: none;
}

#footer .sitenavi li {
	display: inline-block;
	padding: 0;
	margin: 0 0 0 20px;
	font-size: 1.2rem;
}

#footer .sitenavi li:first-child {
	margin-left: 0;
}

@media screen and (max-width: 767px) {
	#footer .sitenavi {
		width: 100%;
		font-size: 12px;
		text-align: center;
	}
}

/* copyright */

#footer .copyright {
	width: 55%;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
	text-align: right;
}
@media screen and (max-width: 767px) {
	#footer .copyright {
		width: 100%;
		margin: 20px 0 0;
		font-size: 12px;
		text-align: center;
	}
}

body {
	padding: 0;
	margin: 0;
}
