@charset "UTF-8";

body {
	font-family: "Noto Sans JP", sans-serif;
	color: #222;
}

// 省略

/* footer
  ------------------------------ */
#footer {
	padding: 18px 0;
	font-size: 0.8rem;
	color: #fff;
	text-align: center;
	background-color: #222;
}

/* information
  ------------------------------ */
#information {
	padding: 45px 0 10px;
	color: #222;
	text-align: center;
}

#information .wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

#information article {
	padding: 10px 40px 20px;
	margin-bottom: 20px;
	text-align: left;
	background-color: #fff;
	border-radius: 20px;
}

#information article .text_date {
	font-size: 0.85rem;
}

#information article h3 {
	padding-bottom: 12px;
	margin-bottom: 30px;
	font-size: 1.15rem;
	line-height: 1.8em;
	/* ToDo:色編集 */
	border-bottom: 2px solid #a9d9ea;
}

#information article .text_content {
	font-size: 0.85rem;
	line-height: 2em;
}
