@charset "UTF-8";

/* フォーム全体 */
.form {
	max-width: 720px;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
}
@media screen and (max-width: 480px) {
	.form {
		margin-top: 40px;
	}
}

/* 必須項目 */
.form-item-label-required {
	display: inline-block;
	width: 48px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background: #5bc8ac;
	border-radius: 6px;
}
@media screen and (max-width: 450px) {
	.form-item-label-required {
		width: 32px;
		padding-top: 2.5px;
		padding-bottom: 2.5px;
		font-size: 12px;
		border-radius: 4px;
	}
}

/* フォームと文字のブロック */
.input {
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 24px;
	padding-bottom: 24px;
	border-top: 1px solid #ddd;
}
@media screen and (max-width: 450px) {
	.input {
		flex-wrap: wrap;
		padding: 16px 14px;
	}
}

.item {
	width: 100%;
	max-width: 248px;
	font-size: 1.35rem;
	font-weight: bold;
	letter-spacing: 0.05em;
}

@media screen and (max-width: 450px) {
	.item {
		display: flex;
		align-items: center;
		max-width: inherit;
		font-size: 20px;
	}
}

/* ボタン枠線 */
.input:nth-child(5) {
	border-bottom: 1px solid #ddd;
}

/* 長いテキスト入力欄 */
.item .isMsg {
	margin-top: 8px;
	margin-bottom: auto;
}
@media screen and (max-width: 450px) {
	.item .isMsg {
		margin-top: 0;
	}
}

/* 入力欄 */
.box {
	flex: 1;
	width: 100%;
	max-width: 410px;
	height: 48px;
	padding-right: 1em;
	padding-left: 1em;
	margin-left: 40px;
	font-size: 18px;
	background: #eaedf2;
	border: 1px solid #ddd;
	border-radius: 6px;
}
@media screen and (max-width: 480px) {
	.box {
		flex: inherit;
		height: 40px;
		margin-top: 18px;
		margin-left: 0;
		font-size: 15px;
	}
}

/* 長文　入力欄 */
.Form-Item-Textarea {
	flex: 1;
	width: 100%;
	max-width: 410px;
	height: 216px;
	padding-right: 1em;
	padding-left: 1em;
	margin-left: 40px;
	font-size: 16px;
	background: #eaedf2;
	border: 1px solid #ddd;
	border-radius: 6px;
}
@media screen and (max-width: 450px) {
	.Form-Item-Textarea {
		flex: inherit;
		height: 200px;
		margin-top: 18px;
		margin-left: 0;
		font-size: 15px;
	}
}

/* 送信ボタン */

.bt-sending {
	display: block;
	width: 280px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 32px;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 0.05em;
	background: #5bc8ac;
	border-radius: 6px;
}
@media screen and (max-width: 450px) {
	.bt-sending {
		width: 160px;
		padding-top: 8px;
		padding-bottom: 8px;
		margin-top: 24px;
		font-size: 16px;
	}
}

/* 同意ボタン */
.ECM_CheckboxInput {
	display: flex;
	align-items: center;
	padding: 12px 8px;
	cursor: pointer;
}

@media screen and (max-width: 450px) {
	.ECM_CheckboxInput {
		margin-left: 12px;
	}
}

.ECM_CheckboxInput-Input {
	width: 0;
	margin: 0;
	opacity: 0;
}

.ECM_CheckboxInput:hover {
	background: rgb(0 0 0 / 5%) !important;
}

.ECM_CheckboxInput:hover > .ECM_CheckboxInput-DummyInput {
	transform: scale(1.1);
}

.ECM_CheckboxInput-Input:focus + .ECM_CheckboxInput-DummyInput {
	transform: scale(1.1);
}

.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput {
	background: rgb(39 250 162);
}

.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 35%;
	height: 4px;
	content: "";
	background: #fff;
	border-radius: 2px;
	transform: translate(-6px, 5px) rotateZ(-135deg);
	transform-origin: 2px 2px;
}

.ECM_CheckboxInput-Input:checked + .ECM_CheckboxInput-DummyInput::after {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 70%;
	height: 4px;
	content: "";
	background: #fff;
	border-radius: 2px;
	transform: translate(-6px, 5px) rotateZ(-45deg);
	transform-origin: 2px 2px;
}

.ECM_CheckboxInput-DummyInput {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 32px;
	height: 32px;
	background: rgb(0 0 0 / 15%);
	border: solid 2px transparent;
	border-radius: 50%;
	transition: all 0.15s linear;
}

.ECM_CheckboxInput-LabelText {
	display: block;
	margin-left: 12px;
	font-size: 18px;
	font-weight: bold;
}

h2,
h1 {
	text-align: center;
}

/* ラジオボタン装飾 */

input[type="radio"] {
	display: none;
}

.kinds span {
	box-sizing: border-box;
	display: inline-block;
	width: 130px;
	padding: 5px 20px;
	margin: 0 5px;
	color: #5bc0de;
	text-align: center;
	cursor: pointer;
	border: 1px solid #5bc0de;
	border-radius: 34px;
}

label input:checked + span {
	color: #fff;
	background: #5bc0de;
}

@media screen and (max-width: 450px) {
	.kinds {
		margin: 0 auto;
		margin-top: 15px;
	}
}

@media screen and (min-width: 450px) {
	.spacer {
		width: 100%;
	}

	.kinds {
		align-items: block;
		margin: 0 auto;
	}
}

/* プライバシーポリシー注意書き */
.privacy {
	margin-top: 10px;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 0.8rem;
}

.privacy-policy {
	text-decoration: underline solid #000;
}
