@charset "UTF-8";

img {
	margin: 5%;
}

.map {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	margin: 0 10%;
	overflow: hidden;
}

.map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 110%;
	height: 100%;
	margin: auto;
}

.button {
	width: 200px;
	margin: 1% auto;
}

.space {
	margin-top: 30px;
}

table {
	width: 85%;
	border-collapse: collapse;
}

table th {
	padding: 10px 0;
	color: white;
	text-align: center;
	background: #27acd9;
	border: solid 2px white;
}

table td {
	padding: 10px 0;
	color: #494949;
	text-align: center;
	background: #e1f7ff;
	border: solid 2px white;
}

/* ヘッダーデザイン */
.heading {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 35px;
	text-align: center;
}

.heading span {
	position: relative;
	z-index: 2;
}

.heading::before {
	position: absolute;
	top: -20px;
	left: 50%;
	font-size: 80px;
	font-style: italic;
	color: rgb(120 79 195 / 37.1%);
	content: attr(data-en);
	transform: translateX(-50%);
}

.heading::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 1px;
	height: 40px;
	content: "";
	background-color: rgb(120 79 195 / 26.9%);
	transform: translate(-50%) rotate(30deg);
}
/* ヘッダー文字装飾以上 */
/* h2　下線表示 */
h2 {
	position: relative;
	padding: 10px 0;
	border-bottom: 5px solid #ddd;
}

h2::before {
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 20%;
	height: 5px;
	content: "";
	background: #27acd9;
}

/* 見出し　位置 */
h2 {
	padding-left: 2%;
	margin-right: 10%;
	margin-left: 10%;
}

.side {
	font-size: 1.6rem;
}
/* 矢印アイコン */
.side {
	position: relative;
	padding: 0.5em 0.75em 0.5em 2.5em;
	background: #fff;
}

.side::before {
	position: absolute;
	top: 50%;
	left: 20px;
	padding: 0;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #27acd9;
	content: "\f138";
	transform: translateY(-50%);
}
/* 本文 */
.description {
	/* 以下　左線用 */
	padding: 0.25em 0.5em; /* 上下 左右の余白 */
	padding-top: 0.5%;
	font-size: 1.25rem;
	line-height: 1.75; /* 行間 */
	color: #494949; /* 文字色 */
	background: transparent; /* 背景透明に */
	border-left: solid 10px #aaabab; /* 左線 */
}

.site-policy,
privacy-policy {
	margin: auto 0;
	font-size: 1.7rem;
}

.box {
	padding: 1% 10%;
	margin: 0 auto; /* 本文を中央によせる */
	border-radius: 30px;
}

.text {
	margin: 1% 10% 2%;
}

h2 {
	font-size: 1.8rem;
}
/* == ボタン共通設定 */
.btn {
	/* アニメーションの起点とするためrelativeを指定 */
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	overflow: hidden;
	text-align: center;
	/* ボタンの形状 */
	text-decoration: none;
	border: 1px solid #555; /* ボーダーの色と太さ */
	outline: none;
	/* アニメーションの指定 */
	transition: ease 0.2s;
}

/* ボタン内spanの形状 */
.btn span {
	position: relative;
	z-index: 3; /* z-indexの数値をあげて文字を背景よりも手前に表示 */
	color: #333;
}

.btn:hover span {
	color: #fff;
}

/* == 背景が流れる（左から右） */
.bgleft::before {
	/* 絶対配置で位置を指定 */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	content: "";
	/* 色や形状 */
	background: #333; /* 背景色 */
	/* アニメーション */
	transition: transform 0.6s cubic-bezier(1, 1, 0.2, 1) 0s;
	transform: scale(0, 1);
	transform-origin: right top;
}

/* hoverした際の形状 */
.bgleft:hover::before {
	transform: scale(1, 1);
	transform-origin: left top;
}
/* ボタン設定ここまで */

.address_access {
	font-size: 100%;
	margin: 4% 10% 1%;
}

/* バーガーメニュー */
/* 参考>> https://www.asobou.co.jp/blog/web/css-menu */
.menu-btn {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 90;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: #3584bb;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
	position: absolute;
	display: block;
	width: 25px;
	height: 3px;
	content: "";
	background-color: #fff;
	border-radius: 3px;
}

.menu-btn span::before {
	bottom: 8px;
}

.menu-btn span::after {
	top: 8px;
}
/* 要素1 */
#menu-btn-check:checked ~ .menu-btn span {
	background-color: rgb(255 255 255 / 0%); /* メニューオープン時は真ん中の線を透明にする */
}

#menu-btn-check:checked ~ .menu-btn span::before {
	bottom: 0;
	transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
	top: 0;
	transform: rotate(-45deg);
}
/* チェックボックス隠す */
#menu-btn-check {
	display: none;
}
/* メニュー内容 */
.menu-content {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 80;
	width: 100%;
	height: 100%;
	background-color: #3584bb;
}

.menu-content ul {
	padding: 70px 10px 0;
}

.menu-content ul li {
	list-style: none;
	border-bottom: solid 1px #fff;
}

.menu-content ul li a {
	position: relative;
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 9px 15px 10px 0;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
}

.menu-content ul li a::before {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 7px;
	height: 7px;
	content: "";
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
	transform: rotate(45deg);
}

.menu-content {
	position: fixed;
	top: 0;
	left: 100%; /* leftの値を変更してメニューを画面外へ */
	z-index: 80;
	width: 100%;
	height: 100%;
	background-color: #3584bb;
	transition: all 0.5s; /* アニメーション設定 */
}

#menu-btn-check:checked ~ .menu-content {
	left: 0; /* メニューを画面内へ */
}
