@charset "UTF-8";

html {
	font-size: 100%;
	/* font-family: "Sawarabi Gothic";  Googleフォント設定(必要なし) */
}

body {
	color: #24292e;
}

a {
	text-decoration: none;
}

p {
	font-size: 0.8rem;
}

img {
	max-width: 100%;
}

li {
	font-size: 1.2rem;
	list-style: none;
}

/* 本文 */

.site-policy privacy-policy {
	margin: auto 0;
	font-size: 1.7rem;
}

.box {
	padding: 1% 10%;
	margin: 0 auto; /* 本文を中央によせる */
	border-radius: 30px;
}

.text2 {
	margin: 1% 10% 2%;
}

.text {
	margin: 1% 10% 2% 2%;
}

h2 {
	font-size: 1.8rem;
}

/* ボタン中央設置 */

.btnconta {
	margin-top: 10px;
	text-align: center;
}

/* リスト番号0をつける */
li {
	list-style-position: inside;
	list-style-type: decimal-leading-zero;
}

.service {
	padding-left: 3%;
	font-size: 1rem;
}

.menu {
	padding-top: 20px;
	font-size: 1.25rem;
}

.text {
	font-size: 1rem;
}
