@charset "UTF-8";

h2 {
	margin-bottom: 32px;
}

.time-tables {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 64px;
}

.time-table {
	margin-bottom: 64px;
}

.time-table-image {
	max-width: 500px;
	padding-right: 8%;
	padding-left: 8%;
}

/* スマホ用 */
@media screen and (max-width: 450px) {
	.time-table-image {
		width: 80vw;
		padding: 0;
	}
}

.attention {
	padding: 2% 10%;
	font-size: 0.8rem;
}
