@charset "UTF-8";

html {
	font-size: 100%;
	/*font-family: "Sawarabi Gothic";  Googleフォント設定(必要なし) */
}
body {
	color: #24292e;
}
a {
	text-decoration: none;
}
p {
	font-size: 1rem;
}
img {
	max-width: 100%;
}
li {
	list-style: none;
	font-size: 1rem;
}

/* レスポンシブ対応 */
@media screen and (min-width: 721px) {
	html {
		font-size: 100%;
	}
}
@media screen and (max-width: 420px) {
	html {
		font-size: 600%;
	}
}

/* 本文 */
.description {
	padding-top: 0.5%;
	font-size: 1rem;
	line-height: 1.75; /*行間*/
	/* 以下　左線用 */
	padding: 0.25em 0.5em; /*上下 左右の余白*/
	color: #494949; /*文字色*/
	background: transparent; /*背景透明に*/
	border-left: solid 10px #aaabab; /*左線*/
}

.site-policy,
privacy-policy {
	margin: auto 0;
	font-size: 1.7rem;
}

.box {
	padding: 1% 10% 1% 10%;
	margin: 0 auto; /*本文を中央によせる*/
	border-radius: 30px;
}

.text {
	margin: 1% 10% 2% 10%;
}

h2 {
	font-size: 1.5rem;
}

.btnconta {
	text-align: center;
}
/* リストマーカー */
.list {
	list-style-type: square; /*リストスタイル黒四角*/
	list-style-position: inside; /*リストボックスの内側*/
}
