@charset "UTF-8";

html {
	font-size: 100%;
	/*font-family: "Sawarabi Gothic";  Googleフォント設定(必要なし) */
}
body {
	color: #24292e;
}

a {
	text-decoration: none;
}
p {
	font-size: 0.8rem;
}
img {
	max-width: 100%;
}
li {
	list-style: none;
	font-size: 1.2rem;
}

/* 本文 */

.site-policy privacy-policy {
	margin: auto 0;
	font-size: 1.7rem;
}

.box {
	padding: 1% 10% 1% 10%;
	margin: 0 auto; /*本文を中央によせる*/
	border-radius: 30px;
}

.text2 {
	margin: 1% 10% 2% 10%;
}

.text {
	margin: 1% 10% 2% 2%;
}

h2 {
	font-size: 1.8rem;
}

/* ボタン中央設置 */

.btnconta {
	text-align: center;
	margin-top: 10px;
}

/* リスト番号0をつける */
li {
	list-style-type: decimal-leading-zero;
	list-style-position: inside;
}

.service {
	font-size: 1rem;
	padding-left: 3%;
}

.menu {
	font-size: 1.25rem;
	padding-top: 20px;
}

.text {
	font-size: 1rem;
}
