@charset "UTF-8";

.tabs,
.menus {
	display: flex;
	justify-content: space-around;
	margin: 32px auto;
	width: 80%;
}

.tabs {
	margin-top: 88px;
}

.menus {
	flex-wrap: wrap;
}

.tab {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 31%;
	height: 56px;
}

.tab-on,
.tab:hover {
	border-bottom: solid 3px;
	font-weight: bold;
}

.tab-off {
	border-bottom: solid 1px;
	font-weight: lighter;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 24%;
	height: 56px;
	margin: 4px 1px;
}

.menu:hover,
.tab:hover,
section:hover {
	opacity: 0.5;
}

.menu-on,
.menu:hover {
	background-color: #09719d;
	color: white;
}

.menu-off {
	background-color: #d9d9d9;
	color: black;
}

h3 {
	text-align: center;
}

.sections {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 32px auto;
	width: 80%;
}

.section-blue,
.section-orange {
	display: flex;
}

.section-blue {
	width: 48%;
	height: 256px;
	margin-top: 32px;
	background-color: #bde0f9;
}

.section-orange {
	width: 48%;
	height: 256px;
	margin-top: 32px;
	background-color: #f7db87;
}

.stall-image {
	width: 50%;
	height: 100%;
	background-color: gray;
}

@media screen and (max-width: 850px) {
	.section-blue,
	.section-orange {
		display: flex;
		width: 48%;
	}
	.menu {
		width: 48%;
	}
	.stall-image {
		width: 100%;
		height: 50%;
	}
	.section-blue,
	.section-orange {
		flex-direction: column;
	}

	.section-blue,
	.section-orange {
		height: 512px;
	}
}

.store-name {
	margin: 16px auto;
}

.store-name + p,
ul {
	margin-bottom: 4px;
	margin-left: 32px;
	list-style-image: url(../img/navigation.png);
}

@media screen and (max-width: 450px) {
	.section-blue,
	.section-orange {
		width: 100%;
	}
}
