@charset "UTF-8";

.tabs,
.menus,
.stalls {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 32px auto;
}

.tabs {
	margin-top: 88px;
}

.tabs li {
	width: 31%;
	border-bottom: solid 1px;
}

.tabs li a {
	display: block;
	padding-bottom: 8px;
	text-align: center;
}

.tabs li.active,
.tabs li:hover {
	border-bottom: solid 3px;
}

.tabs li.active a,
.tabs li:hover a {
	font-weight: bold;
}

.menus {
	display: flex;
	flex-flow: wrap;
	justify-content: flex-start;
}

.area {
	display: none;
}

.area.is-active {
	display: flex;
	animation-name: display-anime;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes display-anime {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.menu {
	width: 300px;
	padding: 16px 32px;
	margin: 4px 1px;
	text-align: center;
}

.tabs li:hover,
.menu:hover,
.stalls section:hover {
	opacity: 0.5;
}

.menu:hover,
.menu-on {
	color: white;
	/* TODO: 色編集 */
	background-color: #09719d;
}

.menu-off {
	color: black;
	/* TODO: 色編集 */
	background-color: #d9d9d9;
}

.stalls {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	margin: 32px auto;
}

.stall {
	display: flex;
	width: 48%;
	height: 256px;
	margin-top: 32px;

	/* TODO: 色編集 */
	background-color: azure;
}

.stall-image {
	width: 50%;
	height: 100%;

	/* TODO: 色編集 */
	background-color: gray;
}

.store-name {
	margin: 16px auto;
	text-align: center;
}

.store-name + p,
ul {
	margin-bottom: 4px;
	margin-left: 32px;
	list-style-image: url("../img/navigation.png");
}

@media screen and (max-width: 850px) {
	.stall {
		display: flex;
		flex-direction: column;
		height: 512px;
	}

	.stall-image {
		width: 100%;
		height: 50%;
	}

	.stall div {
		width: 100%;
		height: 50%;
	}
}

@media screen and (max-width: 450px) {
	.stall {
		width: 100%;
	}
}

/* 左右に三角形をつける */
.box2-10 {
	position: relative;
	width: 50%;
}

.box2-10::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: "";
	border-bottom: 30px solid transparent;
	border-left: 30px solid #c6d4c6;
}

.box2-10::after {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	content: "";
	border-bottom: 30px solid #c6d4c6;
	border-left: 30px solid transparent;
}
